<section id="beer-section" class="beer-section">
    <div class="card principal">
      <header class="card-header">
        <h2>First beer</h2>
      </header>
      <div class="card-content">
        <div class="card-content-image">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTWT4S3X3L0NWFGGsJcC4F22yAg2DyOk527Li6xq4klCDN1sIN" alt="beers">
        </div>
        <div class="card-content-text">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <div class="rating-container">
            <button class="icon">
              <i class="fas fa-star"></i>
            </button>
            <button class="icon">
              <i class="far fa-star"></i>
            </button>
            <button class="icon">
              <i class="far fa-star"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card principal">
      <header class="card-header">
        <h2>Second beer</h2>
      </header>
      <div class="card-content">
        <div class="card-content-image">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTWT4S3X3L0NWFGGsJcC4F22yAg2DyOk527Li6xq4klCDN1sIN" alt="beers">
        </div>
        <div class="card-content-text">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <div class="rating-container">
            <button class="icon">
              <i class="fas fa-star"></i>
            </button>
            <button class="icon">
              <i class="far fa-star"></i>
            </button>
            <button class="icon">
              <i class="far fa-star"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card principal">
      <header class="card-header">
        <h2>Third beer</h2>
      </header>
      <div class="card-content">
        <div class="card-content-image">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTWT4S3X3L0NWFGGsJcC4F22yAg2DyOk527Li6xq4klCDN1sIN" alt="beers">
        </div>
        <div class="card-content-text">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <div class="rating-container">
            <button class="icon">
              <i class="fas fa-star"></i>
            </button>
            <button class="icon">
              <i class="far fa-star"></i>
            </button>
            <button class="icon">
              <i class="far fa-star"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
        <div class="card principal">
      <header class="card-header">
        <h2>Fourth beer</h2>
      </header>
      <div class="card-content">
        <div class="card-content-image">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTWT4S3X3L0NWFGGsJcC4F22yAg2DyOk527Li6xq4klCDN1sIN" alt="beers">
        </div>
        <div class="card-content-text">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <div class="rating-container">
            <button class="icon">
              <i class="fas fa-star"></i>
            </button>
            <button class="icon">
              <i class="far fa-star"></i>
            </button>
            <button class="icon">
              <i class="far fa-star"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card principal">
      <header class="card-header">
        <h2>Fifth beer</h2>
      </header>
      <div class="card-content">
        <div class="card-content-image">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTWT4S3X3L0NWFGGsJcC4F22yAg2DyOk527Li6xq4klCDN1sIN" alt="beers">
        </div>
        <div class="card-content-text">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <div class="rating-container">
            <button class="icon">
              <i class="fas fa-star"></i>
            </button>
            <button class="icon">
              <i class="far fa-star"></i>
            </button>
            <button class="icon">
              <i class="far fa-star"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card principal">
      <header class="card-header">
        <h2>Sixth beer</h2>
      </header>
      <div class="card-content">
        <div class="card-content-image">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTWT4S3X3L0NWFGGsJcC4F22yAg2DyOk527Li6xq4klCDN1sIN" alt="beers">
        </div>
        <div class="card-content-text">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <div class="rating-container">
            <button class="icon">
              <i class="fas fa-star"></i>
            </button>
            <button class="icon">
              <i class="far fa-star"></i>
            </button>
            <button class="icon">
              <i class="far fa-star"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>